<template>
    <div>
        <h2>Article</h2>

        <div v-if="article">
            <img v-if='article.media[0]' :src='article.media[0].attributes.url' alt='' height='400px'>

            <h3 v-html="article.title" />

            <div v-html="article.content" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'ArticlePage',

    data() {
        return {
            /** @type Article */
            article: null,
            slug: this.$route.params.slug,
        }
    },

    created() {
        this.loadArticle()
    },

    methods: {
        async loadArticle() {
            try {
                const response = await this.$http.get(`articles/article/${this.slug}`)

                this.article = response.data
            } catch (ex) {
                alert(ex.message)
            }
        },
    },
}
</script>
