<template>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-3'>
                <div class='form-group'>
                    <label for='text'>Text</label>
                    <input
                        type='text'
                        class='form-control'
                        name='text'
                        id='text'
                        v-model='form.text'
                    />
                </div>
            </div>

            <div class='col-3'>
                <div class='form-group'>
                    <label for='category'>Category</label>

                    <select
                        class='form-select'
                        name='category'
                        id='category'
                        v-model='form.category'
                    >
                        <option
                            v-for='option in categories'
                            :key='option.id'
                            :value='option.id'
                        >
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class='row'>
            <article-item :key='article.id' v-for='article in articles' :article='article'/>
        </div>
    </div>
</template>

<script>
import ArticleItem from '../components/article/ArticleItem'
export default {
    name: 'HomePage',
    components: { ArticleItem },
    data() {
        return {
            categories: [],

            articles: [],

            form: {
                text: null,
                category: null,
            },
        }
    },

    methods: {
        async loadCategories() {
            const response = await this.$http.get('articles/categories')

            this.categories = response.data
        },

        async loadArticles() {
            const response = await this.$http.get('articles', {
                params: this.form,
            })

            this.articles = response.data
        },
    },

    created() {
        this.loadCategories().then(() => {
            this.loadArticles()
        })
    },

    watch: {
        form: {
            deep: true,
            handler(form) {
                this.loadArticles()
            },
        },
    },
}
</script>
