<template>
    <div>
        <h4>Import feed</h4>

        <form>
            <div>
                <label>Select feed</label>
                <input
                    type='file'
                    ref='feed'
                    @change='onFileSelected'
                    accept='application/json'
                />
            </div>

            <button
                @click.prevent='uploadFeed'
                :disabled='uploading || selectedFile === null'
                class='btn btn-primary'
                type='submit'
            >
                Upload
            </button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'ImportFeedPage',

    data() {
        return {
            uploading: false,

            /** @type File */
            selectedFile: null,
        }
    },

    methods: {
        /**
         * @param {Event} event
         */
        onFileSelected(event) {
            /** @type FileList */
            const files = event.target.files

            this.selectedFile = files.length > 0 ? files[0] : null
        },

        async uploadFeed() {
            this.uploading = true

            const form = new FormData()
            form.append('file', this.selectedFile, this.selectedFile.name)

            try {
                const response = await this.$http.post('articles/importFeed', form)

                alert('Done!')
            } catch (e) {
                alert(e.message)
            }

            this.uploading = false
        },
    },
}
</script>
