<template>
    <div>
        <div class='p-4'>
            <h1>Hello!</h1>
            <p>
                <router-link to='/'>Home page</router-link>
                <br>
                <router-link :to='{name: "import-feed"}'>Import feed page</router-link>
            </p>

            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
    name: 'App',
}
</script>
