<template>
    <div class="border rounded my-2 p-2">
        <div class='mb-2'>
            <img
                v-if="article.media[0]"
                :src="article.media[0].attributes.url"
                :alt="article.title"
                class='rounded'
                height="100px"
            />
        </div>

        <router-link :to="{ name: 'article-show', params: { slug: article.slug } }">
            {{ article.id }}) <span v-html="article.title"></span>
        </router-link>
        <div>
            <span class="badge bg-success mx-1" v-for="category in article.categories">{{
                category.name
            }}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ArticleItem',

    props: {
        /** @type Partial<Article> */
        article: {},
    },
}
</script>
